button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.send-button {
    background: rgb(25, 135, 84);
}

.chat-input {
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
}

.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}

.chat-message-spinner {
    height: 40px;
    margin: -15px;
}

.chat-message-clear-history-btn {
    background-color: firebrick;
}