.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-robot {
    display: flex;
    align-items: start;
}

.chat-message-text {
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 10px;
    max-width: 300px;
}

.chat-message-profile {
    width: 45px
}

.chat-message-time {
    display: block;
    margin-top: 7px;
    font-size: 14px;
    color: #807f7f;
}