.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn {
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    padding: 10px;
    margin-right: 9px;
    margin-top: 10px;
    cursor: pointer;
}

.input {
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
}

.btn-show-password {
    margin-left: 10px;
}